.navbar {
    background-color: #FFF8DE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
}

.navbar li a {
    display: inline-block;
    color: #99A98F;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.navbar li a:hover {
    background-color: #D6E8DB;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

th.level {
    border-right: 1px solid black;
}

td.separator {
    border-right: 1px solid black;
}


.page {
background-color: #D6E8DB;}








.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}





    h2 {
      margin-top: 0;
    }

    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }

    input[type="number"] {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      border: 1px solid #ddd;
      border-radius: 3px;
    }

    button {
      padding: 10px 20px;
      background-color: #D6E8DB;
      color: black;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }

    #result {
      margin-top: 20px;
      font-weight: bold;
    }

  .container {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      text-align: center;
      background-color: #f2f2f2;
      border: 1px solid #ddd;
      border-radius: 5px;
    }






.container-a {
  position: relative; 
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container-a .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}




.sound-btn{
  position: fixed;
   background-color: black;
}
